venv/
.cph/
.vscode/
.idea/
build/
*.bin
__pycache__/
.DS_Store
input.txt
data/__MACOSX/
data/loc-brightkite_totalCheckins.txt
data/loc-brightkite_totalCheckins.txt.zip
data/2023-citibike-tripdata.zip
data/2023-citibike-tripdata/
papers/